.glassSucess {
    /* background-color: red; */
    background: linear-gradient(0deg,#04551c,#0e3502);
    border-color: #1ce64f;
}
.glassFailure {
    /* background-color: red; */
    background: linear-gradient(0deg,#2e020c,#170106);
    border-color: #f52626;
  
  
}
.failureCritical {
    color: #e8093a;
}
.successCritical {
    color: #1ce64f;
}
body {
    font-size: 0.85rem;
    font-family: 'Montserrat', sans-serif !important;
  }
  [class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: rgba(243,156,18,1) !important;
    color: black;
}
canvas{

    width:100% !important;
    height:100%px !important;
  
  }
  .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	max-width: 100px;
    max-height: 100px;	
  }