.glassSucess {
    /* background-color: red; */
    background: linear-gradient(0deg,#04551c,#0e3502);
    border-color: #1ce64f;
}
.glassFailure {
    /* background-color: red; */
    background: linear-gradient(0deg,#2e020c,#170106);
    border-color: #f52626;
  
  
}
.failureCritical {
    color: #e8093a;
}
.successCritical {
    color: #1ce64f;
}
body {
    
    font-family: 'Montserrat', sans-serif !important;
  }